:root {
    --current-bg-color: rgb(65, 105, 225);
    background-color: var(--current-bg-color, 'black');
    font-size: 24px;
}


.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 20px;
    align-items: center;
    gap: 20px;
}

.rgb-input-container,
.results {
    border: 10px solid #333;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px black; 
    padding: 1.25rem;
    background-color: #444;
}


.rgbInput {
    flex: 1 0 1.5rem;
    max-width: 200px;
    font-size: 18px;
    text-align: center;
}
